@model UI.Models.p31invoice.p91InvoiceAfterFinishViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Vyúčtování")+": "+Model.Rec.p91Code;
    Model.PageSymbol = "p91";

    var _tab1 = new UI.Models.Tab1.p91Tab1() {Factory=_f, prefix = "p91", pid = Model.p91id,Rec=Model.Rec };



}

@addTagHelper *, UI

<script src="~/js/rejstriky.js" asp-append-version="true"></script>

<form id="form1" asp-controller="p31InvoiceFinish" asp-action="Index" method="POST">
    <div class="bg-light input-group" style="padding-bottom:10px;">
        <button type="button" class="btn btn-light" style="margin-left:40px;" onclick="_postback('closeandrefresh')">@_f.tra("Zavřít a obnovit")</button>

        <a class="btn btn-light" style="margin-left:20px;" target="_top" href="/Record/Recpage?prefix=p91&pid=@Model.p91id">@_f.tra("Přejít na stránku vyúčtování")</a>

        <a class="btn btn-light" style="margin-left:20px;" target="_top" href="@Model.GridUrl">@_f.tra("Přejít do Tabulky vyúčtování")</a>

        <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light" style="display:none;"><span class="material-icons-outlined-btn">close</span>@_f.tra("Zavřít")</button>


    </div>

    
 
    <hr />

    <div class="modal_record_container">

        <div style="margin-right:40px;">
            @Html.EditorFor(m => _tab1, "~/Views/Shared/_p91Tab1Buttons.cshtml")
        </div>

        <div class="card recpagebox400">
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Shared/_p91RecHeaderBox.cshtml", Model.Rec)

               
                @Html.EditorFor(m => m.Rec, "~/Views/Shared/_TimeStamp.cshtml")
            </div>
        </div>
        <div class="card recpageboxauto" style="width:290px;">
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Shared/_p91RecCastkyBox.cshtml", Model.Rec)
            </div>
        </div>


        <div class="card recpageboxauto" style="width:290px;">
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Shared/_p91RecDatumyBox.cshtml", Model.Rec)
            </div>
        </div>

       







       


        <input type="hidden" asp-for="@Model.p91id" />

    </div>

    
</form>



<script type="text/javascript">

    $(document).ready(function () {






    });



    function hardrefresh(pid, flag) {

        _postback();
    }



    function recpage_p94(p91id) {
        _window_open("/p91oper/p94?p91id=" + p91id);
    }
    function recpage_exupdate(p91id) {
        _window_open("/p91oper/exupdate?p91id=" + p91id);
    }

    function converfromdraft(p91id) {
        $.post(_ep("/p91oper/converfromdraft"), { p91id: p91id }, function (data) {
            if (data == "0") {
                alert("Error");
            }
            location.reload(location.href);

        });
    }

    function p91report(x31id, p91id) {
        _window_open("/ReportsClient/ReportContext?prefix=p91&pid=" + p91id + "&x31id=" + x31id);
    }
    function p91sendmail(p91id) {
        _window_open("/Mail/SendMail?record_entity=p91&record_pid=" + p91id);
    }

</script>
