@model BO.j02User
@inject BL.Factory _f

@{
    if (Model == null)
    {
        return;
    }

    string _teams = null;

    if (!string.IsNullOrEmpty(_f.CurrentUser.j11IDs))
    {
        var mq = new BO.myQueryJ11() { j02id = _f.CurrentUser.pid };
        _teams = string.Join(", ", _f.j11TeamBL.GetList(mq).Select(p => p.j11Name));
    }

}

@addTagHelper *, UI


<div id="kdojsem" style="padding:10px;max-width:400px;display:none;">

    <table class="table table-hover">
        <tr>
            <td class="tdlab">
                @_f.tra("Uživatel"):
            </td>
            <td class="tdval">
                @Model.j02Login
            </td>
        </tr>
        <tr>
            <td class="tdlab">
                @_f.tra("Aplikační role"):
            </td>
            <td class="tdval">
                @Model.j04Name
            </td>
        </tr>
        <tr>
            <td class="tdlab">
                E-mail:
            </td>
            <td class="tdval">
                @Model.j02Email
            </td>
        </tr>
        <tr>
            <td class="tdlab">
                @_f.tra("Jméno"):
            </td>
            <td class="tdval">
                @Model.FullNameAsc
            </td>
        </tr>
        @if (Model.j02Code != null)
        {
            <tr>
                <td class="tdlab">
                    @_f.tra("Osobní kód"):
                </td>
                <td class="tdval">
                    @Model.j02Code
                </td>
            </tr>
        }
        <tr>
            <td class="tdlab">
                @_f.tra("Pozice"):
            </td>
            <td class="tdval">
                @Model.j07Name
            </td>
        </tr>
        <tr>
            <td class="tdlab">
                @_f.tra("Pracovní fond"):
            </td>
            <td class="tdval">
                @Model.c21Name
            </td>
        </tr>
        <tr>
            <td class="tdlab">
                @_f.tra("Středisko"):
            </td>
            <td class="tdval">
                @Model.j18Name
            </td>
        </tr>
        <tr>
            <td class="tdlab">
                @_f.tra("Člen týmů"):
            </td>
            <td class="tdval">
                @_teams
            </td>
        </tr>
    </table>








</div>
