@model IEnumerable<BO.p30ContactPerson>

@inject BL.Factory _f

@{


    if (Model == null || Model.Count() == 0)
    {
        return;
    }

    bool _bolRowHover = UI.Code.basUI.DetectIfCanRowHover(_f, Context, _f.CurrentUser.j04IsModule_j02);

}



<table class="table table-hover">
    @foreach (var c in Model)
    {
        <tr>
            <td style="width:20px;">
                <span class="material-icons-outlined" style="color:gray;">face</span>
            </td>

            @if (_bolRowHover)
            {
                <td class="rowvalhover">
                    @if(_f.CurrentUser.j04IsModule_p28)
                    {
                        <a href="/Record/RecPage?prefix=p28&pid=@(c.p28ID_Person)" target="_top">@(c.Person)</a>
                    }else
                    {
                        @c.Person
                    }
                    
                    
                    <a class="reczoom" data-rel="/p28/Info?pid=@(c.p28ID_Person)&hover_by_reczoom=1">ℹ</a>
                </td>
            }else
            {
                <td>
                    @(c.Person)
                </td>
            }
            
            <td>
                <i>
                    @(c.p30Name)                    
                </i>
            </td>
            <td>
                @if (c.PersonInvoiceEmail !=null)
                {
                    <code>@_f.tra("Fakturační e-mail")</code>
                }
            </td>
        </tr>
    }

</table>
