@model UI.Models.Record.p28Record
@inject BL.Factory _f

@addTagHelper *, UI

<div class="row">
    <div class="col-sm-7 col-md-7">
        <div class="card">
            <div class="card-header">
                ₠
                @_f.tra("Ceník fakturačních hodinových sazeb (a kusovníkových)")
            </div>
            <div class="card-body">
                <input type="radio" id="Radiop51Flag1" asp-for="@Model.Rec.p28BillingFlag" value="CenikDedit" onchange="_postback()">
                <label for="Radiop51Flag1">
                    @_f.tra("Klient nemá vlastní ceník fakturačních sazeb, sazby se načítají z ROOT ceníku.")
                    <mytooltip text="ROOT ceník se definuje ve správě ceníků."></mytooltip>
                </label>
                <br />
                <input type="radio" id="Radiop51Flag2" asp-for="@Model.Rec.p28BillingFlag" value="CenikPrirazeny" onchange="_postback()">
                <label for="Radiop51Flag2">@_f.tra("Svázat klienta s jedním z pojmenovaných (sdílených) ceníků")</label>
                <br />
                <input type="radio" id="Radiop51Flag3" asp-for="@Model.Rec.p28BillingFlag" value="CenikIndividualni" onchange="_postback()">
                <label for="Radiop51Flag3">
                    @_f.tra("Klient má individuální sazby na míru")
                    <mytooltip text="Sazby zde nadefinované platí pouze pro tohoto klienta a případně jeho projekty."></mytooltip>
                </label>
            </div>
            @if (Model.Rec.p28BillingFlag == BO.p28BillingFlagENUM.CenikPrirazeny)
            {
                <div>
                    @_f.tra("Přiřazený ceník hodinových sazeb")
                    <button type="button" onclick="p51_record_flag2()" class="btn btn-sm bog">@_f.tra("Upravit ceník")</button>
                    <button type="button" onclick="p51_create_flag2()" class="btn btn-sm bog">@_f.tra("Založit ceník")</button>
                </div>
                <mycombo entity="p51PriceList" asp-for="@Model.SelectedP51ID_Flag2" placeholder="@_f.tra("Vyberte pojmenovaný ceník")" selectedtext="@Model.SelectedComboP51Name" myqueryinline="typeflag|int|1|iscustomtailor|bool|false"></mycombo>

            }
            @if (Model.Rec.p28BillingFlag == BO.p28BillingFlagENUM.CenikIndividualni)
            {
                <button type="button" onclick="p51_record_flag3()" class="btn btn-sm bog">@_f.tra("Sazby na míru")</button>
                <input type="hidden" asp-for="@Model.SelectedP51ID_Flag3" value="@Model.SelectedP51ID_Flag3" />
            }
        </div>

    </div>

</div>



<div class="row my-2">
    <label for="Rec_p28BillingLangIndex" class="col-sm-2 col-md-3 col-form-label">
        @_f.tra("Fakturační jazyk klienta")
        <mytooltip text="Systém bude uživatelům indikovat jazyk (vlajkou státu), v kterém mají vykazovat úkony.<hr>Lze nastavit i v projektech klienta."></mytooltip>
    </label>
    <div class="col-sm-4 col-md-4">
        <select asp-for="@Model.Rec.p28BillingLangIndex" class="form-select">
            <option value="0">
                @(_f.Lic.x01CountryCode == "CZ" ? "CS" : _f.Lic.x01CountryCode)
            </option>
            <option value="1">#1 @_f.Lic.x01BillingLang1</option>
            <option value="2">#2 @_f.Lic.x01BillingLang2</option>
            <option value="3">#3 @_f.Lic.x01BillingLang3</option>
            <option value="4">#4 @_f.Lic.x01BillingLang4</option>
        </select>
    </div>
    <label class="col-sm-2 col-md-2" for="numRec_p28InvoiceMaturityDays">
        @_f.tra("Výchozí splatnost faktury")
        <mytooltip text="Dny bez ohledu na víkend/svátky. Splatnost lze definovat i ve fakturačním nastavení projektu klienta nebo v administraci (základní parametry databáze)."></mytooltip>
        
    </label>
    <div class="col-sm-1 col-md-1">
        <mynumber asp-for="@Model.Rec.p28InvoiceMaturityDays" decimal-digits="0"></mynumber>
    </div>

</div>
<div class="row my-2">
    <label for="cmdComboRec_p92ID" class="col-sm-2 col-md-3 col-form-label">
        @_f.tra("Výchozí typ faktury")
        <mytooltip text="Lze nastavit i v každém projektu klienta."></mytooltip>
    </label>
    <div class="col-sm-4 col-md-4">
        <mycombo entity="p92InvoiceType" asp-for="@Model.Rec.p92ID" selectedtext="@Model.SelectedComboP92Name"></mycombo>
    </div>
    <label class="col-sm-2 col-md-2" for="numRec_p28Round2Minutes">
        @_f.tra("Zaokrouhlování času na míru")
        <mytooltip text="Definuje se v minutách.<hr>Výchozí jednotka zaokrouhlování hodin se definuje v administraci (základní parametry databáze)."></mytooltip>
        
    </label>
    <div class="col-sm-1 col-md-1">
        <mynumber asp-for="@Model.Rec.p28Round2Minutes" decimal-digits="0"></mynumber>
    </div>

</div>



<div class="row my-2">
    <label for="cmdComboRec_j61ID_Invoice" class="col-sm-2 col-md-3 col-form-label">@_f.tra("Šablona zprávy pro elektronickou fakturaci"):</label>
    <div class="col-sm-4 col-md-4">
        <mycombo entity="j61TextTemplate" asp-for="@Model.Rec.j61ID_Invoice" selectedtext="@Model.SelectedComboJ61Name" myqueryinline="entity|string|p91"></mycombo>
    </div>
    <label class="col-sm-2 col-md-2" for="cmdComboRec_p63ID">@_f.tra("Režijní přirážka k ceně faktury"):</label>
    <div class="col-sm-4 col-md-3">
        <mycombo entity="p63Overhead" asp-for="@Model.Rec.p63ID" selectedtext="@Model.SelectedComboP63Name"></mycombo>
    </div>
</div>

<div class="row my-2">
    <label for="Rec_p28VatCodePohoda" class="col-sm-2 col-md-3 col-form-label">
        Členění DPH
        <mytooltip text="Klasifikace DPH v účetním IS: Kód/Členění DPH pro export vydaných faktur do IS POHODA."></mytooltip>
    </label>
    <div class="col-sm-2 col-md-2">
        <input type="text" class="form-control" asp-for="Rec.p28VatCodePohoda" />
    </div>


</div>


<div class="form-floating my-2">
    <textarea class="form-control" asp-for="@Model.Rec.p28InvoiceDefaultText1"></textarea>
    <label for="Rec_p28InvoiceDefaultText1">@_f.tra("Výchozí hlavní text faktury")</label>
</div>

<div class="form-floating my-2">
    <textarea class="form-control" asp-for="@Model.Rec.p28InvoiceDefaultText2"></textarea>
    <label for="Rec_p28InvoiceDefaultText2">@_f.tra("Výchozí technický text faktury")</label>
</div>


