@model BO.p28Contact

@inject BL.Factory _f

@{


    if (Model == null)
    {
        return;
    }

    bool _bolRowHover = UI.Code.basUI.DetectIfCanRowHover(_f, Context, _f.CurrentUser.IsRatesAccess);

    string _BillingLangHtml = _f.p28ContactBL.GetBillingFlagHtml(Model);

    BO.p51PriceList _rootPriceList = null;
    if (Model.p51ID_Billing == 0)
    {
        _rootPriceList = _f.p51PriceListBL.LoadRootPriceList(DateTime.Now);
    }
    BO.j61TextTemplate _recJ61 = null;
    if (Model.j61ID_Invoice > 0)
    {
        _recJ61 = _f.j61TextTemplateBL.Load(Model.j61ID_Invoice);
    }

    BO.p31BudgetCompare _bcomp = null;
    bool _isVysledovka = false;
    bool _isVysledovkaAllow = false;
    int _intVysledovkaScenarVydaje = 2; //1: Všechny peněžní výdaje jsou na odpis, 2: Fa peněžní výdaje pře-fakturovat
    int _intVysledovkaScenarHodiny = 1; //1: Fa hodiny fakturovat, Nefa hodiny odepsat, 2: Všechny hodiny odepsat
    double _vysledovkaNaklad = 0;
    double _vysledovkaVynos = 0;
    double _vysledovkaNakladVyuctovano = 0;
    BO.Model.TimesheetCostRateEnum _NakladovaSazbaScenar = (BO.Model.TimesheetCostRateEnum)_f.CBL.LoadUserParamInt("vysledovka-nakladovasazba-scenar", 5);
    double _dblSimulacniSazba = BO.Code.Bas.InDouble(_f.CBL.LoadUserParam("vysledovka-NakladovaSazbaCislo", (_f.Lic.j27ID == 2 ? "500" : "25")));
    double _dblProcentoZFakSazby = BO.Code.Bas.InDouble(_f.CBL.LoadUserParam("vysledovka-NakladovaSazbaProcento", "50"));

    if (_f.CurrentUser.IsVysledovkyAccess)
    {
        _isVysledovkaAllow = true;
        _isVysledovka = _f.CBL.LoadUserParamBool("tab1-p28-vysledovka", false);
    }



    if (_isVysledovka)
    {
        _bcomp = _f.p31WorksheetBL.LoadBudgetCompare("p28", Model.pid, _NakladovaSazbaScenar, _dblSimulacniSazba, _dblProcentoZFakSazby);
        if (_bcomp.Hodiny == 0 && _bcomp.Vydaje == 0 && _bcomp.Odmeny == 0 && _bcomp.Kusovnik == 0)
        {
            _isVysledovka = false;
            _isVysledovkaAllow = false;
        }
        else
        {
            _intVysledovkaScenarVydaje = _f.CBL.LoadUserParamInt("vysledovka-scenar-vydaje", 2);
            _intVysledovkaScenarHodiny = _f.CBL.LoadUserParamInt("vysledovka-scenar-hodiny", 1);
        }

        _vysledovkaNaklad = _bcomp.Vydaje + _bcomp.Honorar_Naklad + _bcomp.Kusovnik_Naklad;
        _vysledovkaVynos = _bcomp.Odmeny;
        if (_intVysledovkaScenarHodiny == 1)
        {
            _vysledovkaVynos += _bcomp.Honorar + _bcomp.Kusovnik_Honorar;
        }
        if (_intVysledovkaScenarVydaje == 2)
        {
            _vysledovkaVynos += _bcomp.VydajeFa;
        }

        _vysledovkaNakladVyuctovano = _bcomp.Vyuctovano_Honorar_Naklad + _bcomp.Vyuctovano_Vydaje_Vykazane;
    }
    else
    {
        if (_isVysledovkaAllow)
        {
            if (_f.p41ProjectBL.GetList_p41InProjectBox(Model.pid).Count() == 0)
            {
                _isVysledovkaAllow = false; //klient nemá projekty
            }

        }
    }

    

}



@addTagHelper *, UI



@if (!_isVysledovka && _isVysledovkaAllow)
{
    <a class="mytreeview-toggle-kontejner" href="javascript:billingbox_change_value('1','tab1-p28-vysledovka')">
        <span class="material-icons-outlined-btn mytreeview-toggle-sipka">arrow_right</span>
    </a>
    <a class="btn px-0" href="javascript:billingbox_change_value('1','tab1-p28-vysledovka')">
        <myicon symbol="balance"></myicon>
        @_f.tra("Výsledovka projektů klienta")

    </a>
}


@if (_isVysledovka && _isVysledovkaAllow)
{
    <table class="table table-sm table-hover" style="min-width:400px;">
        <tr style="vertical-align:bottom">
            <td>

                <div class="dropdown">
                    <a class="mytreeview-toggle-kontejner" onclick="billingbox_change_value('0','tab1-p28-vysledovka')">
                        <span class="material-icons-outlined-btn mytreeview-toggle-sipka">arrow_drop_down</span>
                    </a>
                    <a class="btn dropdown-toggle px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <myicon symbol="balance"></myicon>
                        @_f.tra("Výsledovka projektů klienta")

                    </a>

                    <div class="dropdown-menu" style="padding:10px;background-color:aliceblue;">


                        <a href="javascript: _window_open('/Vysledovka/Index?master_entity=p28&master_pid=@(Model.pid)')">@_f.tra("Podrobnější výsledovky")</a>

                        <a class="btn btn-sm btn-light" title="Rychlá statistika" href="javascript:_window_open('/Record/QuickStat?prefix=p28&pid=@(Model.pid)')"><myicon symbol="auto_graph"></myicon></a>
                        <a class="btn btn-sm btn-light" title="SOUČTY" href="javascript:_window_open('/p31Totals/Index?selected_entity=p28&selected_pids=@(Model.pid)&blank=1')"><myicon symbol="functions"></myicon></a>
                        <a class="btn btn-sm btn-light" title="Pevný report" href="javascript:_window_open('/ReportsClient/ReportContext?prefix=p28&pid=@(Model.pid)')"><myicon symbol="print"></myicon></a>


                        <hr />

                        <label for="cbxNakladovaSazbaScenar">Nákladová sazba hodin:</label>
                        <select id="cbxNakladovaSazbaScenar">
                            <option value="1">Nákladová sazba úkonu (N1)</option>"
                            <option value="2">Režijní sazba úkonu (N2)</option>"
                            <option value="3">Simulační sazba projektu (N3)</option>"
                            <option value="4">Simulační sazba uživatele (N4)</option>"
                            <option value="5">Simulační sazbu zadat zde ručně (N5)</option>
                            <option value="6">Procento z fakturační sazby (N6)</option>
                        </select>

                        @if (_NakladovaSazbaScenar == BO.Model.TimesheetCostRateEnum.SimulacniSazbaRucne)
                        {
                            <br />
                            <label for="txtSimulacniSazba">Simulační nákladová sazba:</label>
                            <input id="txtSimulacniSazba" onchange="billingbox_change_simulacni_sazba()" type="text" style="width:40px;" value="@(_dblSimulacniSazba)" />
                        }
                        @if (_NakladovaSazbaScenar == BO.Model.TimesheetCostRateEnum.ProcentoFakturacniSazby)
                        {
                            <br />
                            <label for="txtProcentoFakSazby">Procento z fakturační sazby:</label>
                            <input id="txtProcentoFakSazby" onchange="billingbox_change_procento_sazba()" type="text" style="width:30px;" value="@(_dblProcentoZFakSazby)" />
                            <span>%</span>
                        }


                        <hr />

                        <select id="cbxVysledovkaScenarVydaje" onchange="billingbox_change_scenar(this,'vysledovka-scenar-vydaje')">
                            <option value="1">Všechny peněžní výdaje jsou na odpis</option>
                            <option value="2">Fa peněžní výdaje pře-fakturovat</option>
                        </select>
                        <p></p>
                        <select id="cbxVysledovkaScenarHodiny" onchange="billingbox_change_scenar(this,'vysledovka-scenar-hodiny')">
                            <option value="1">Fa hodiny fakturovat, Nefa hodiny odepsat</option>
                            <option value="2">Všechny hodiny odepsat</option>
                        </select>

                    </div>
                </div>
            </td>
            <td class="numcell">
                @_f.tra("Náklad")
            </td>
            <td class="numcell">
                @_f.tra("Výnos")
            </td>
            <td style="text-align:center;">
                @_f.tra("Zisk/Ztráta")


            </td>

        </tr>
        @if (_bcomp.Hodiny != 0)
        {
            <tr>
                <td>
                    @_f.tra("Hodiny")
                    <span class="badge-light" title="Celkem vykázané hodiny v projektu">@BO.Code.Bas.Num2StringNull(_bcomp.Hodiny)</span>
                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Honorar_Naklad)
                    @if (_NakladovaSazbaScenar == BO.Model.TimesheetCostRateEnum.SimulacniSazbaRucne)
                    {
                        <br />
                        <small style="background-color:lightyellow;padding:3px;">
                            @(_dblSimulacniSazba) x @BO.Code.Bas.Number2String(_bcomp.Hodiny)
                        </small>

                    }
                    
                    @if (_bcomp.Hodiny > 0 && _bcomp.Honorar_Naklad == 0)
                    {
                        <mytooltip text="Nákladovou hodinovou sazbu získáte buď z ceníku nákladových sazeb nebo z ceníku režijních sazeb.<hr>Sazbu můžete zadat i v kartě uživatele nebo v kartě projektu.<hr>Nebo simulační nákladovou sazbu zadejte zde ručně."></mytooltip>
                    }
                </td>
                <td class="numcell">
                    @if (_intVysledovkaScenarHodiny == 1)
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.Honorar)
                    }
                </td>
                <td class="numcell" style="color:@(_intVysledovkaScenarHodiny==1 && _bcomp.Honorar - _bcomp.Honorar_Naklad>0 ? "green": "red")">
                    @if (_intVysledovkaScenarHodiny == 1 && _bcomp.Honorar_Naklad != 0 && _bcomp.Honorar != 0)
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.Honorar - _bcomp.Honorar_Naklad)
                    }
                    @if (_intVysledovkaScenarHodiny == 2)
                    {
                        @BO.Code.Bas.Num2StringNull(-1 * _bcomp.Honorar_Naklad)
                    }
                </td>


            </tr>

        }
        @if (_bcomp.Kusovnik != 0)
        {
            <tr>
                <td>
                    @_f.tra("Kusovník")
                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Kusovnik_Naklad)


                </td>
                <td class="numcell">
                    @if (_intVysledovkaScenarHodiny == 1)
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.Kusovnik_Honorar)
                    }
                </td>
                <td class="numcell" style="color:@(_intVysledovkaScenarHodiny==1 && _bcomp.Kusovnik_Honorar - _bcomp.Kusovnik_Naklad>0 ? "green": "red")">
                    @if (_intVysledovkaScenarHodiny == 1 && (_bcomp.Kusovnik_Honorar != 0 || _bcomp.Kusovnik_Naklad != 0))
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.Kusovnik_Honorar - _bcomp.Kusovnik_Naklad)
                    }
                    @if (_intVysledovkaScenarHodiny == 2)
                    {
                        @BO.Code.Bas.Num2StringNull(-1 * _bcomp.Kusovnik_Honorar)
                    }
                </td>


            </tr>

        }
        @if (_bcomp.Vydaje != 0)
        {
            <tr>
                <td>
                    @_f.tra("Peněžní výdaje")

                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vydaje)
                </td>
                <td class="numcell">
                    @if (_intVysledovkaScenarVydaje == 2)
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.VydajeFa)
                    }


                </td>
                <td class="numcell" style="color:red">
                    @if (_intVysledovkaScenarVydaje == 2)
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.VydajeFa - _bcomp.Vydaje)
                    }
                    else
                    {
                        @BO.Code.Bas.Num2StringNull(-1 * _bcomp.Vydaje)
                    }

                </td>

            </tr>
        }
        @if (_bcomp.Odmeny != 0)
        {
            <tr>
                <td>
                    @_f.tra("Pevné odměny")

                </td>
                <td class="numcell">
                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Odmeny)

                </td>
                <td class="numcell" style="color:green">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Odmeny)

                </td>

            </tr>
        }
        <tr style="background-color:aliceblue">
            <td>
                @if (_vysledovkaVynos != 0 || _vysledovkaNaklad != 0)
                {
                    @if (_vysledovkaVynos - _vysledovkaNaklad > 0)
                    {
                        <myicon symbol="sentiment_satisfied"></myicon>
                    }
                    else
                    {
                        <myicon color="red" symbol="sentiment_worried"></myicon>
                    }
                }
            </td>
            <td class="numcell">
                @(BO.Code.Bas.Num2StringNull(_vysledovkaNaklad))
            </td>
            <td class="numcell">
                @(BO.Code.Bas.Num2StringNull(_vysledovkaVynos))

            </td>
            <td class="numcell" style="color:@(_vysledovkaVynos>_vysledovkaNaklad ? "green": "red")">
                <strong>
                    @BO.Code.Bas.Num2StringNull(_vysledovkaVynos - _vysledovkaNaklad)
                </strong>
            </td>

        </tr>
        @if (_bcomp.Vyuctovano_BezDph != 0 || _bcomp.Vyuctovano_Hodiny_Vykazane != 0)
        {
            <tr style="background-color:palegreen;">

                <td colspan="4">
                    <var>Výsledovka z vyúčtovaných úkonů:</var>
                </td>
            </tr>
        }
        @if (_bcomp.Vyuctovano_Hodiny_Vykazane != 0)
        {
            <tr>
                <td>
                    @_f.tra("Hodiny")
                    <span class="badge-light" title="Hodiny zahrnuté do vyúčtování">@BO.Code.Bas.Number2String(_bcomp.Vyuctovano_Hodiny_Vykazane)</span>
                    @if (_bcomp.Vyuctovano_Hodiny != 0)
                    {
                        <span class="badge-a4" title="Hodiny vyúčtované statusem: Fakturovat">@BO.Code.Bas.Number2String(_bcomp.Vyuctovano_Hodiny)</span>
                    }
                    @if (_bcomp.Vyuctovano_Hodiny_6 != 0)
                    {
                        <span class="badge-a6" title="Hodiny vyúčtované statusem: Zahrnout do paušálu">@BO.Code.Bas.Number2String(_bcomp.Vyuctovano_Hodiny_6)</span>
                    }
                    @if (_bcomp.Vyuctovano_Hodiny_2 != 0)
                    {
                        <span class="badge-a2" title="Hodiny vyúčtované statusem: Viditelný odpis">@BO.Code.Bas.Number2String(_bcomp.Vyuctovano_Hodiny_2)</span>
                    }
                    @if (_bcomp.Vyuctovano_Hodiny_3 != 0)
                    {
                        <span class="badge-a3" title="Hodiny vyúčtované statusem: Skrytý odpis">@BO.Code.Bas.Number2String(_bcomp.Vyuctovano_Hodiny_3)</span>
                    }



                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Honorar_Naklad)
                    @if (_bcomp.Vyuctovano_Hodiny_Vykazane > 0 && _bcomp.Vyuctovano_Honorar_Naklad == 0)
                    {
                        <mytooltip text="Nákladovou hodinovou sazbu získáte buď z ceníku nákladových sazeb nebo z ceníku režijních sazeb.<hr>Sazbu můžete zadat i v kartě uživatele nebo v kartě projektu.<hr>Nebo simulační nákladovou sazbu zadejte zde ručně."></mytooltip>
                    }
                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Honorar)


                </td>
                <td class="numcell" style="color:@(_bcomp.Vyuctovano_Honorar - _bcomp.Vyuctovano_Honorar_Naklad>0 ? "green": "red")">
                    @if (_bcomp.Vyuctovano_Honorar != 0 && _bcomp.Vyuctovano_Honorar_Naklad != 0)
                    {
                        @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Honorar - _bcomp.Vyuctovano_Honorar_Naklad)
                    }

                </td>


            </tr>

        }
        @if (_bcomp.Vyuctovano_Kusovnik != 0 || _bcomp.Vyuctovano_Kusovnik_Naklad != 0)
        {
            <tr>
                <td>
                    @_f.tra("Kusovník")

                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Kusovnik_Naklad)

                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Kusovnik)


                </td>
                <td class="numcell" style="color:@(_bcomp.Vyuctovano_Kusovnik - _bcomp.Vyuctovano_Kusovnik_Naklad>0 ? "green": "red")">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Kusovnik - _bcomp.Vyuctovano_Kusovnik_Naklad)

                </td>


            </tr>

        }
        @if (_bcomp.Vyuctovano_Vydaje_Vykazane != 0)
        {
            <tr>
                <td>
                    @_f.tra("Peněžní výdaje")

                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Vydaje_Vykazane)
                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Vydaje)


                </td>
                <td class="numcell" style="color:@(_bcomp.Vyuctovano_Vydaje - _bcomp.Vyuctovano_Vydaje_Vykazane>0 ? "green": "red")">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Vydaje - _bcomp.Vyuctovano_Vydaje_Vykazane)

                </td>

            </tr>
        }
        @if (_bcomp.Vyuctovano_Odmeny != 0)
        {
            <tr>
                <td>
                    @_f.tra("Pevné odměny")

                </td>
                <td class="numcell">
                </td>
                <td class="numcell">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Odmeny)

                </td>
                <td class="numcell" style="color:green">
                    @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_Odmeny)

                </td>

            </tr>
        }
        @if (_bcomp.Vyuctovano_BezDph != 0 || _bcomp.Vyuctovano_Hodiny_Vykazane != 0)
        {
            <tr style="background-color:aliceblue">
                <td>
                    @if (_bcomp.Vyuctovano_BezDph - _vysledovkaNakladVyuctovano > 0)
                    {
                        <myicon symbol="sentiment_satisfied"></myicon>
                    }
                    else
                    {
                        <myicon color="red" symbol="sentiment_worried"></myicon>
                    }
                </td>
                <td class="numcell">
                    @(BO.Code.Bas.Num2StringNull(_vysledovkaNakladVyuctovano))
                </td>
                <td class="numcell">
                    @(BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_BezDph))

                </td>
                <td class="numcell" style="color:@(_bcomp.Vyuctovano_BezDph>_vysledovkaNakladVyuctovano ? "green": "red")">
                    <strong>
                        @BO.Code.Bas.Num2StringNull(_bcomp.Vyuctovano_BezDph - _vysledovkaNakladVyuctovano)
                    </strong>
                </td>

            </tr>
        }

    </table>
}


<table class="table table-hover">

    @if (Model.p51ID_Billing > 0)
    {
        <tr>
           
            <td>
                <small>@_f.tra("Fakturační hodinové sazby"):</small>
                <br />
                @if (_bolRowHover)
                {
                    <myval value="@Model.p51Name_Billing" hoverprefix="p51" hoverpid="@Model.p51ID_Billing"></myval>
                }
                else
                {
                    <myval value="@Model.p51Name_Billing"></myval>
                }
            </td>
         
        </tr>
    }
    else
    {
        @if (_rootPriceList != null)
        {
            <tr>
                <td>
                    <small>@_f.tra("Fakturační hodinové sazby")<br />@_f.tra("ROOT ceník"):</small>
                    <br />
                    @if (_bolRowHover)
                    {
                        <myval value="@_rootPriceList.p51Name" hoverprefix="p51" hoverpid="@_rootPriceList.pid"></myval>
                    }
                    else
                    {
                        <myval value="@_rootPriceList.p51Name"></myval>
                    }
                </td>

            </tr>
        }
        else
        {
            <tr>
                <td>
                    <small>@_f.tra("Ceník fakturačních sazeb"):</small>
                    <small style="color:silver;">@_f.tra("Nenastaveno")</small>
                </td>

            </tr>
        }
    }

    <tr>

        <td>
            <small>@_f.tra("Typ faktury"):</small>
            
            @if (Model.p92ID > 0)
            {
                <br />
                @if (_bolRowHover)
                {
                    <myval value="@Model.p92Name" hoverprefix="p92" hoverpid="@Model.p92ID"></myval>
                }
                else
                {
                    <myval value="@Model.p92Name"></myval>
                }
            }
            else
            {
                <small style="color:silver;">@_f.tra("Nenastaveno")</small>
            }
            
        </td>
    </tr>

    @if (_BillingLangHtml != null)
    {
        <tr>

            <td title=">@_f.tra("Fakturační jazyk")">
               
                <myval datatype="html" value="@_BillingLangHtml"></myval>
            </td>

        </tr>
    }
    @if (_recJ61 !=null)
    {
        <tr>
            <td>
                <small>@_f.tra("Fakturační e-mail šablona"):</small>
                <br />
                
                <myval value="@_recJ61.j61Name" hoverprefix="j61" hoverpid="@Model.j61ID_Invoice"></myval>
            </td>

        </tr>
    }


    @if (Model.p28Round2Minutes > 0)
    {
        <tr>
            
            <td>
                <small>
                    @_f.tra("Zaokrouhlování času na míru"):
                </small>
                
                <myval value="@Model.p28Round2Minutes" valueafter="minut"></myval>
            </td>
        </tr>


    }

    @if (Model.p28InvoiceMaturityDays > 0)
    {
        <tr>
            
            <td>
                <small>
                    @_f.tra("Splatnost faktury"):
                </small>
                
                <myval value="@Model.p28InvoiceMaturityDays" valueafter="dny"></myval>
            </td>
        </tr>


    }
   
</table>


@if (_isVysledovka || _isVysledovkaAllow)
{
    <script type="text/javascript">
        $("#cbxNakladovaSazbaScenar").change(function () {

            billingbox_change_value(this.value, "vysledovka-nakladovasazba-scenar");

        });

        $("#cbxNakladovaSazbaScenar").val(@((int)_NakladovaSazbaScenar));


       
        if (document.getElementById("cbxVysledovkaScenarVydaje")) {
            $("#cbxVysledovkaScenarVydaje").val("@(_intVysledovkaScenarVydaje)");
            $("#cbxVysledovkaScenarHodiny").val("@(_intVysledovkaScenarHodiny)");
        }


        function billingbox_change_scenar(cbx, key) {
            $.post(_ep("/Common/SetUserParam"), { key: key, value: cbx.value }, function (data) {
                location.replace(location.href);

            });
        }

        function billingbox_change_value(val, key) {

            $.post(_ep("/Common/SetUserParam"), { key: key, value: val }, function (data) {
                location.replace(location.href);

            });
        }

        function billingbox_change_simulacni_sazba() {
            var val = _string2number($("#txtSimulacniSazba").val());

            $.post(_ep("/Common/SetUserParam"), { key: 'vysledovka-NakladovaSazbaCislo', value: val }, function (data) {
                location.replace(location.href);

            });
        }
        function billingbox_change_procento_sazba() {
            var val = _string2number($("#txtProcentoFakSazby").val());

            $.post(_ep("/Common/SetUserParam"), { key: 'vysledovka-NakladovaSazbaProcento', value: val }, function (data) {
                location.replace(location.href);

            });
        }

    </script>
}