@model p31StateQueryViewModel
@inject BL.Factory _f

@{

    string _strCssClass = "btn btn-light dropdown-toggle bog";

    if (Model.Value>0)
    {
        _strCssClass = "btn btn-light dropdown-toggle bog filtered";
    }

    

   
}



<div class="dropdown" style="margin-left:8px;">
    <button class="@(_strCssClass)" type="button" id="cmdP31StateQuery" data-bs-toggle="dropdown" aria-expanded="false" tabindex="-1">
        <span class="material-icons-outlined-nosize">filter_alt</span>
        @(Model.getStateAlias())
    </button>
    <ul id="ulP31StateQuery" class="dropdown-menu" aria-labelledby="cmdP31StateQuery"></ul>
    <input type="hidden" id="_p31StateQueryHiddenValue" value="@Model.Value" />
</div>


<script type="text/javascript">
    var _p31StateQuery_Value = "@Model.Value";
    var _p31StateQuery_ParamKey = "@Model.UserParamKey";

    

    document.getElementById("cmdP31StateQuery").addEventListener("show.bs.dropdown", function () {
        
        var explicit_javascript_onchange = "@Model.javascript_onchange";

        $.post("/Menu/get_p31StateQuery_MenuItems", { userparamkey: _p31StateQuery_ParamKey, explicit_value: _p31StateQuery_Value, explicit_javascript_onchange: explicit_javascript_onchange }, function (data) {
            $("#ulP31StateQuery").html(data);

            if (_device.innerHeight <= 450) {
                $("#ulP31StateQuery").css("column-count", "2");
            }
            if (_device.innerHeight <= 300) {
                $("#ulP31StateQuery").css("column-count", "3");
            }
            
            _adjust_divheight_small_display("ulP31StateQuery");
        });
    });


    function handle_p31statequery_change(val) {     //filtrování podle stavu úkonu
        
        $.post(_ep("/Common/SetUserParam"), { key: _p31StateQuery_ParamKey, value: val }, function (data) {
           
            var url = location.href;

            if (document.getElementById("tempguid")) {
                //schvalovací dialog
                url = url + "&tempguid=" + $("#tempguid").val();

            }

            location.replace(url);

        });
    }

</script>