@model UI.Models.Record.j07Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Pozice");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    Model.PageSymbol = "settings";
}

@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control record_name" asp-for="Rec.j07Name" />
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Index pořadí"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.j07Ordinary" decimal-digits="0"></mynumber>
        </div>
    </div>


    <div class="card" style="margin-top:20px;">
        <div class="card-header">
            @_f.tra("Překlad do fakturačních jazyků")
        </div>
        <div class="card-body">
            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang1):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.j07Name_BillingLang1" />

                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang2):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.j07Name_BillingLang2" />

                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang3):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.j07Name_BillingLang3" />

                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang4):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.j07Name_BillingLang4" />

                </div>

            </div>
        </div>
    </div>

    



</div>



