@model UI.Models.Record.p84Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Upomínka");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    Model.PageSymbol = "gavel";
}

@addTagHelper *, UI

<input type="hidden" asp-for="Rec.p83ID" />
<input type="hidden" asp-for="Rec.p91ID" />


<div class="modal_record_container">

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p84Name" />
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-2 col-md-2 col-form-label">#@_f.tra("Stupeň upomínky"):</label>
        <div class="col-sm-2 col-md-2">
            <select class="form-select" asp-for="Rec.p84Index">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum upomínky"):</label>
        <div class="col-sm-3 col-md-2">
            <mydate asp-for="Rec.p84Date"></mydate>
        </div>
       
    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Hlavní text"):</label>
        <div class="col-sm-11 col-md-10">
            <textarea class="form-control" asp-for="Rec.p84TextA"></textarea>
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Technický text"):</label>
        <div class="col-sm-11 col-md-10">
            <textarea class="form-control" asp-for="Rec.p84TextB"></textarea>
        </div>

    </div>

    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Vlastník záznamu"):</label>
        <div class="col-sm-4 col-md-4">
            <mycombo entity="j02User" asp-for="Rec.j02ID_Owner" selectedtext="@Model.ComboOwner" view-flag="1"></mycombo>
        </div>
    </div>


    @Html.EditorFor(m => m.reminder, "~/Views/Shared/_Reminder.cshtml")
</div>
