@model UI.Models.TreePageViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.PageTitle = _f.tra("Strom");


}

@addTagHelper *, UI

<style>
    a.nav-link{
        cursor:pointer;
    }
    .tree-hit-summary {
        background: #fff3cd;
    }
    /* jemná žlutá */
    .tree-hit-leaf {
        background: #e7f1ff;
        border-radius: .25rem;
    }
    /* jemná modrá */
    #tree1 .active{
        background-color: var(--oznaceno) !important;
        color: var(--popredi) !important;
        border: solid 1px var(--oznaceno) !important;
        border-radius:4px;
    }


    .search-wrapper {
        max-width: 320px;
    }

        .search-wrapper input {
            transition: box-shadow .2s ease, border-color .2s ease;
        }

            /* zvýraznění při vstupu */
            .search-wrapper input:focus {
                border-color: #86b7fe;
                box-shadow: 0 0 0 .2rem rgba(13,110,253,.25);
            }

    /* clear button */
    .btn-clear {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        display: none;
        padding: 0 6px;
        line-height: 1;
        color: #888;
        background: transparent;
        border: none;
    }

    /* zobrazit při hover nebo focus */
    .search-wrapper:hover .btn-clear,
    .search-wrapper input:not(:placeholder-shown) + .btn-clear {
        display: block;
    }

    .btn-clear:hover {
        color: #000;
        cursor: pointer;
    }
</style>


<div class="input-group" style="padding-top:8px;">
    <ul class="nav nav-tabs">

        <li class="onetab">
            <a id="cmdMore" class="nav-link onetab-offcanvas" tabindex="-1" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_more">

                @Html.Raw(@Model.TabName)


                <span class="onetab-caret">▼</span>
            </a>




        </li>

    </ul>


    @if (Model.TheGridQueryButton != null)
    {
        <div>
            @Html.EditorFor(m => Model.TheGridQueryButton, "~/Views/Shared/_ButtonGridQuery.cshtml")
        </div>
    }


    @if (Model.periodinput != null)
    {
        <div>
            @await Component.InvokeAsync("myPeriod", Model.periodinput)
        </div>
    }

    @if (Model.p31statequery != null)
    {
        <div>
            @Html.EditorFor(m => Model.p31statequery, "~/Views/Shared/_p31StateQuery.cshtml")
        </div>
    }




    <div>
        <a class="btn descreet_link_over_grid" href="javascript:tg_approve()" title="Schválit/Vyúčtovat vybrané, klávesová zkratka: Alt+R"><span class="material-icons-outlined-btn" style="color:green;">approval</span></a>
    </div>

    <div>
        <myshowmore></myshowmore>
    </div>

    <div class="showmore">
        @Html.EditorFor(m => Model.recordbinquery, "~/Views/Shared/_RecordBinQuery.cshtml")
    </div>



</div>




@Html.Raw("<div id='splitter_container'>")


@Html.Raw("<div id='splitter_panel1'>")

<div class="search-wrapper position-relative">
    <input type="text"
           id="treeSearch"
           oninput="searchTree(this)"
           class="form-control pe-5"
           placeholder="@_f.tra("Najít")..." />

    <button type="button"
            class="btn btn-sm btn-clear"
            onclick="clearTreeSearch()"
            aria-label="Clear">
        ✕
    </button>
</div>

<div id="tree1" class="treeds p-3">
    @await Html.PartialAsync("~/Views/Shared/_TreeDsRenderHelper.cshtml", Model.lisTreeNodes)
</div>

@Html.Raw("</div>")

<div id="splitter_resizer" class="splitter-resizer-left2right"></div>

@Html.Raw("<div id='splitter_panel2'>")


<div class="tabs_container bgp41">
    <ul id="navtabs" class="nav nav-tabs">
        <li style="padding-top:6px;">
            <a id="cmdRCM" class="cm" onclick="rcm_from_tabs(event)" title="MENU"><span class="material-icons-outlined">menu</span></a>
        </li>
        @foreach (var tab in Model.NavTabs)
        {
            <li class="nav-item onetab">
                <a class="@tab.CssClass" id="tab@(tab.Entity)" href="@tab.Url" target="fra_subgrid" onclick="tabclick(this)" title="@tab.Tooltip">
                    @Html.Raw(tab.Name)
                    @if (tab.Badge != null)
                    {
                        @Html.Raw(tab.Badge)
                    }
                </a>
            </li>
        }
    </ul>
</div>

<div id="divTabContent">
    <iframe id="fra_subgrid" name="fra_subgrid" src="@Model.DefaultNavTabUrl" frameborder="1" scrolling="yes" style="width:100%;" onload="$('#divTabContent').css('background','none');"></iframe>
</div>

@Html.Raw("</div>")

@Html.Raw("</div>")




<div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="true" data-bs-keyboard="true" id="offcanvas_more">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title">
            <a href="javascript:reload()" title="Občerstvit">
                <myicon symbol="refresh"></myicon>
            </a>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body p-0 m-0" id="offcanvas_more_body">

        <div class="divider-text">
            @_f.tra("Stromová struktura podle")
        </div>
        <input type="radio" asp-for="@Model.groupby" id="opg1" value="p41" onchange="reload_setting(this)" />
        <label for="opg1">@_f.tra("Strom projektů")</label>
        <br />
        <input type="radio" asp-for="@Model.groupby" id="opg2" value="p28" onchange="reload_setting(this)" />
        <label for="opg2">@_f.tra("Klient projektu")</label>
        <br />
        <input type="radio" asp-for="@Model.groupby" id="opg3" value="j18" onchange="reload_setting(this)" />
        <label for="opg3">@_f.tra("Středisko projektu")</label>
        <br />
        <input type="radio" asp-for="@Model.groupby" id="opg4" value="p42" onchange="reload_setting(this)" />
        <label for="opg4">@_f.tra("Typ projektu")</label>
        <br />
        <input type="radio" asp-for="@Model.groupby" id="opg5" value="p51" onchange="reload_setting(this)" />
        <label for="opg5">@_f.tra("Ceník fakturačních sazeb")</label>
        

        <hr />
        <div style="padding:20px;">
            <label for="ProjectMask">@_f.tra("Maska zobrazení projektu")</label>
            <select asp-for="ProjectMask" class="form-select" onchange="reload_setting_mask(this)">
                <option value="NameWithClient">@_f.tra("Klient+název projektu")</option>
                <option value="p41Name">@_f.tra("Název projektu")</option>
            </select>
        </div>
    </div>
</div>


<input type="hidden" asp-for="pid" />

<script type="text/javascript">
          let _inicializace=true;
          let _offcanvasIsLoaded = false;
          var _groupby="@Model.groupby";
          
          var _pid = "@Model.pid";

          var _currentloadingtabs = false;
          var _local_binquery = "@(Model.recordbinquery != null ? Model.recordbinquery.Value : 0)";

          $(document).ready(function () {


              $("#offcanvas_more").on("show.bs.offcanvas", function () {
                  if (_offcanvasIsLoaded)
                  {

                      return;
                  }

                  _offcanvasIsLoaded = true;


              });


              register_menu("cmdgridquerymenu", "cmdgridquerymenu_menu", "/Menu/grid_query?prefix=p41&j72id=@(Model.TheGridQueryButton.j72id)");



              var key = "p41-treepage_panel1_size";
              var defWidth = localStorage.getItem(key);
              if (defWidth == null) {
                  defWidth = 400;
                  localStorage.setItem(key, defWidth);
              }
              _splitter_init("2", "p41-treepage");
              _splitter_resize_after_init("2", defWidth);
              


              var offset = $("#divTabContent").offset();
              var h_vertical = _device.innerHeight - offset.top;
              h_vertical = parseInt(h_vertical);

              if (_device.type === "Phone") {
                  h_vertical = 400;
              }

              $("#divTabContent").css("height", h_vertical + "px");



              _mainmenu_highlight_current("cmdTreePage");



              if (_local_binquery != "1") {
                  $(".showmore").toggle();
              }


              tree1_init();



              if (_pid !="0")
              {
                  selectTreeLeafById(_pid);
                  leftgrid_handle_rowselect(_pid);
              }
          });




          function tabclick(tab) {    //uložit aktuální záložku do profilu uživatele
              $("#navtabs .nav-link").removeClass("active");
              $(tab).addClass("active");
              $.post("/Common/SetUserParam", { key: "treepage-tab-p41", value: tab.id.replace("tab", "") }, function (data) {


              });
          }

          function reload() {
              _redirect("/TreePage/Index?groupby="+_groupby+"&pid=" + _pid);
          }






          function rcm_from_tabs(e) {

              e.target.setAttribute("menu_je_inicializovano", null);  //vyčistit paměť o inicializaci menu v rámci tohoto tlačítka

              _cm(e, "p41", _pid, "grid");
          }




          



          function handle_render_tabs(pid) {
              //Aktualizovat záložky
              if (_currentloadingtabs) {
                  $("#tabtab1").html("Wait");
              } else {
                  _currentloadingtabs = true;
                  //$("#tabtab1").html("-----");
                  $.post("/TheGrid/getTabs", { prefix: "p41", pid: pid }, function (data) {
                      callback_render_tabs(data);

                  });
                  
              }
          }

          function callback_render_tabs(data) {
              //vykreslení obsahu záložek načtených přes load_ajax_async
              
              _currentloadingtabs = false;
              $("#tabtab1").html(data[0].name);
              for (var i = 1; i < data.length; i++) {
                  
                  if (document.getElementById("tab" + data[i].entity))
                  {
                      
                      if (data[i].badge != null) {
                          $("#tab" + data[i].entity).html(data[i].name + data[i].badge);
                      } else {
                          $("#tab" + data[i].entity).html(data[i].name);
                      }
                  }

              }
          }



          function rcm_from_tabs(e) {



              e.target.setAttribute("menu_je_inicializovano", null);  //vyčistit paměť o inicializaci menu v rámci tohoto tlačítka

              _cm(e, "p41", _pid, "grid");
          }



          function change_statequery(val) {
              reload();
          }

          function reload_setting(opg) {


              $.post(_ep("/Common/SetUserParam"), { key: "treepage-groupby", value: opg.value }, function (data) {
                   _groupby=opg.value;
                  reload();

              });
          }

          function reload_setting_mask(cbx) {


              $.post(_ep("/Common/SetUserParam"), { key: "treepage-projectmask", value: cbx.value }, function (data) {

                  reload();

              });
          }



          function tree1_init()
           {
                const treeDetails = document.querySelectorAll('#tree1 details');
                let internalChange = false;

                // najde nejbližší nadřazený <details>
               function getParentDetail(el)
               {
                 let p = el.parentElement;
                 while (p) {
                   if (p.tagName === "DETAILS") return p;
                   p = p.parentElement;
                 }
                 return null;
               }


                treeDetails.forEach(d => {

                 d.addEventListener("toggle", () => {

                   if (internalChange) return;

                   if (_inicializace) {
                       _inicializace = false;
                       return;
                   }

                   // accordion: zavři ostatní foldery
                   if (d.open)
                   {

                       internalChange = true;

                       // najdu společného rodiče → tím určíme sourozence
                       const parent = getParentDetail(d);

                       // SOUROZENCI = všechny <details> se stejným rodičem
                       const siblings = parent
                           ? Array.from(parent.querySelectorAll(':scope > details'))
                           : Array.from(document.querySelectorAll('#tree1 > details'));

                       // zavři pouze přímé SOUROZENCE (a jen je)
                       siblings.forEach(other => {
                           if (other !== d) other.open = false;
                       });

                       internalChange = false;

                       //otevření větve
                       

                   }
                   else
                   {
                           //zavření větve
                   }




                   if (_inicializace)
                   {
                       _inicializace=false;
                       return;
                   }


                 });
               });


           }


    function searchTree(txt) {
        const query = (txt.value || "").trim();
        const tree = document.querySelector("#tree1");
        if (!tree) return;

        const allDetails = Array.from(tree.querySelectorAll("details.branch"));

        // Bootstrap 5.2: zvýraznění řešíme přes vlastní classy (bg-*-subtle nejsou v 5.2)
        const CLS_SUMMARY = "tree-hit-summary";
        const CLS_LEAF = "tree-hit-leaf";

        function resetAll() {
          allDetails.forEach(d => {
            d.open = false;

            d.querySelector("summary")?.classList.remove(CLS_SUMMARY);

            d.querySelectorAll(".leaf a.nav-link").forEach(a => {
              a.classList.remove(CLS_LEAF);
            });
          });
        }

        function openParents(el) {
          let parent = el.parentElement.closest("details");
          while (parent) {
            parent.open = true;
            parent = parent.parentElement.closest("details");
          }
        }

        // krátký dotaz => reset
        if (query.length < 3) {
          resetAll();
          return;
        }

        // před hledáním odznač highlight (nezavíráme hned, ať to nebliká)
        allDetails.forEach(d => {
          d.querySelector("summary")?.classList.remove(CLS_SUMMARY);
          d.querySelectorAll(".leaf a.nav-link").forEach(a => a.classList.remove(CLS_LEAF));
        });

        const q = query.toLowerCase();
        const hasMatchInSubtree = new Set();

        // 1) match v summary + leaf linkách
        allDetails.forEach(d => {
          const summary = d.querySelector("summary");
          const summaryText = (summary?.textContent || "").toLowerCase();
          const summaryMatch = summaryText.includes(q);

          if (summaryMatch) {
            summary?.classList.add(CLS_SUMMARY);
            hasMatchInSubtree.add(d);
            // (nechceme nutně otevírat jen kvůli summary match, ale většinou je to žádoucí)
            d.open = true;
            openParents(d);
          }

          let anyLeafMatch = false;
          d.querySelectorAll(".leaf a.nav-link").forEach(a => {
            const t = (a.textContent || "").toLowerCase();
            const isMatch = t.includes(q);
            if (isMatch) {
              anyLeafMatch = true;
              a.classList.add(CLS_LEAF);
            }
          });

          if (anyLeafMatch) {
            hasMatchInSubtree.add(d);
            d.open = true;
            openParents(d);
          }
        });

        // 2) propagace match nahoru kvůli vnořeným <details>
        // (když match je v hlubší větvi, otevři i předky)
        allDetails.forEach(d => {
          if (hasMatchInSubtree.has(d)) return;

          const descendantMatch = Array.from(d.querySelectorAll("details"))
            .some(cd => hasMatchInSubtree.has(cd));

          if (descendantMatch) {
            hasMatchInSubtree.add(d);
            d.open = true;
            openParents(d);
          }
        });

        // 3) zavři nerelevantní větve
        allDetails.forEach(d => {
          if (!hasMatchInSubtree.has(d)) d.open = false;
        });

        // 4) accordion po úrovních: nech otevřené jen větve s výsledkem
        function applyAccordion(container) {
          const children = Array.from(container.querySelectorAll(":scope > details.branch"));
          children.forEach(ch => {
            ch.open = hasMatchInSubtree.has(ch);
            if (ch.open) applyAccordion(ch);
          });
        }
        applyAccordion(tree);
    }




    document.querySelectorAll('#tree1 details').forEach(details => {
        details.addEventListener('click', e => {

        // zabráníme tomu, aby click na <summary> probublal dvakrát
        // (summary má vlastní default chování)
        if (e.target.tagName.toLowerCase() === 'summary') {
          return;
        }

        const leafLink = e.target.closest('a[data-id]');
        if (leafLink && details.contains(leafLink)) {
            const pid = leafLink.dataset.id ?? null;
            const prefix = leafLink.dataset.prefix ?? null;
            const text = leafLink.textContent.trim();

            leftgrid_handle_rowselect(pid);

            return;
        }


      });
    });



    ///složité
          function leftgrid_handle_rowselect(pid) {
              // if (_pid == "0" && pid != "0")  //ošetřit situaci, kdy stránka záznamu nemá vybraný záznam s hodnotou _pid
              // {
              //     _pid = pid;
              //     reload();
              //     return;
              // }

              var url = $("#fra_subgrid").attr("src");

              var tabs = $(".nav-link.text-dark");
              for (var i = 0; i < tabs.length; i++) {
                  url = $(tabs[i]).attr("href");
                 
                  if (url.indexOf("caller") == -1) {
                      url = url + "&caller=grid";     //donutit cílovou stránku, aby si uložila naposledy navštívený záznam
                  }

                  


                  url = url.replaceAll("pid=" + _pid, "pid=" + pid);


                  $(tabs[i]).attr("href", url);

                  

                  if ($(tabs[i]).hasClass("active")) {
                      $("#fra_subgrid").attr("src", url);

                  }
              }

              if (tabs.length == 1) {
                  url = url.replaceAll("pid=" + _pid, "pid=" + pid);
                  $(tabs[0]).attr("href", url);
                  $("#fra_subgrid").attr("src", url);
              }

              if (document.getElementById("linkGo2Grid")) {
                  url = $("#linkGo2Grid").attr("href");
                  if (url != null) {
                      url = url.replaceAll("pid=" + _pid, "pid=" + pid);
                  }

                  $("#linkGo2Grid").attr("href", url);
              }

              if (document.getElementById("linkMainTab"))
              {
                  url = $("#linkMainTab").attr("href");
                  url = url.replaceAll("pid=" + _pid, "pid=" + pid);
                  $("#linkMainTab").attr("href", url);
              }


                const tree = document.getElementById("tree1");
                tree.querySelectorAll("a.nav-link").forEach(a =>
                    a.classList.remove("active")
                );
                const leaf = tree.querySelector(`a[data-id="${pid}"]`);
                leaf.classList.add("active");

              _pid = pid;
              $("#pid").val(pid);

              handle_render_tabs(_pid);

          }


          

    function selectTreeLeafById(leafId)
    {
        const tree = document.getElementById("tree1");
        if (!tree) return;

        // najdi <a> s daným data-id
        const leaf = tree.querySelector(`a[data-id="${leafId}"]`);
        if (!leaf) return;

        // rozbal všechny nadřazené <details>
        let parent = leaf.parentElement;
        while (parent) {
            if (parent.tagName === "DETAILS") {
                parent.open = true;
            }
            parent = parent.parentElement;
        }

        // zruš active u všech leafů
        tree.querySelectorAll("a.nav-link").forEach(a =>
            a.classList.remove("active")
        );

        // označ aktuální
        leaf.classList.add("active");

        // scroll na položku
        leaf.scrollIntoView({
            behavior: "smooth",
            block: "center"
        });
    }








    function clearTreeSearch() {
        const input = document.getElementById("treeSearch");
        input.value = "";
        input.focus();

        // reset stromu
        const tree = document.getElementById("tree1");
        if (!tree) return;

        tree.querySelectorAll(".bg-warning, .bg-info").forEach(el =>
            el.classList.remove("bg-warning", "bg-info")
        );

        tree.querySelectorAll("details").forEach(d => d.open = false);
    }

</script>



