@model UI.Models.Record.p95Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Fakturační oddíl");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    Model.PageSymbol = "settings";
}

@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control record_name" asp-for="Rec.p95Name" />
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Index pořadí"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.p95Ordinary" decimal-digits="0"></mynumber>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kód"):</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control record_code" asp-for="Rec.p95Code" />

        </div>

    </div>
    
    <div class="card">
        <div class="card-header">
            @_f.tra("Překlad do fakturačních jazyků")
        </div>
        <div class="card-body">
            <div class="row">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang1):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.p95Name_BillingLang1" />

                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang2):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.p95Name_BillingLang2" />

                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang3):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.p95Name_BillingLang3" />

                </div>

            </div>
            <div class="row my-2">
                <label class="col-sm-1 col-md-2 col-form-label">@(_f.Lic.x01BillingLang4):</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.p95Name_BillingLang4" />

                </div>

            </div>
        </div>
    </div>

    
    <myglobalparams prefix="p95" pid="@Model.rec_pid"></myglobalparams>

</div>


