@model UI.Models.p31oper.hesViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Moje předvolby");

}

@addTagHelper *, UI

<div class="bg-light" style="padding:10px;">
    <button type="button" id="cmdOK" class="btn btn-success"><span class="material-icons-outlined-btn">done</span>OK</button>

    
    <button type="button" id="cmdClose" onclick="_window_close()" class="btn btn-light"><span class="material-icons-outlined-btn">close</span>@_f.tra("Zavřít")</button>



</div>



<form id="form1" asp-controller="p31hes" asp-action="Index" method="POST">
    <input type="hidden" asp-for="ActiveTabIndex" />

    <div class="tabs_container_record">
        <!-- Tab panes -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item onetab" role="presentation">
                <a id="link_tab1" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab1">@_f.tra("Vykazování")</a>
            </li>
            <li class="nav-item onetab" role="presentation">
                <a id="link_tab2" class="nav-link" data-bs-toggle="tab" role="tab" href="#tab2">@_f.tra("Schvalování")</a>
            </li>
        </ul>
    </div>

    @Html.Raw("<div class='modal_record_container_flexi'>")
    @Html.Raw("<div class='tab-content'>")

    <div class="tab-pane tab-pane-fixed" id="tab1" role="tabpanel">
        <div class="col-auto">
            <div class="card">
                <div class="card-header">
                    @_f.tra("Preferovaný formát hodin")
                </div>
                <div class="card-body">
                    <input type="radio" asp-for="@Model.HoursFormat" id="opgFormatN" value="N" />
                    <label for="opgFormatN">@_f.tra("Dekadické číslo (např. 1,5)")</label>
                    <br />
                    <input type="radio" asp-for="@Model.HoursFormat" id="opgFormatT" value="T" />
                    <label for="opgFormatT">@_f.tra("HH:MM (např. 01:30)")</label>

                </div>
            </div>

        </div>
        <div class="col-auto">
            <div class="card" style="margin-top:6px;">
                <div class="card-header">
                    @_f.tra("Nabídka předvyplněných intervalů pro zápis hodin")
                </div>
                <div class="card-body">
                    <input type="radio" asp-for="@Model.HoursInterval" id="opgInterval5" value="5" />
                    <label for="opgInterval5">@_f.tra("Po 5ti minutách")</label>
                    <br />
                    <input type="radio" asp-for="@Model.HoursInterval" id="opgInterval6" value="6" />
                    <label for="opgInterval6">@_f.tra("Po 6ti minutách")</label>
                    <br />
                    <input type="radio" asp-for="@Model.HoursInterval" id="opgInterval10" value="10" />
                    <label for="opgInterval10">@_f.tra("Po 10ti minutách")</label>
                    <br />
                    <input type="radio" asp-for="@Model.HoursInterval" id="opgInterval15" value="15" />
                    <label for="opgInterval15">@_f.tra("Po 15ti minutách")</label>
                    <br />
                    <input type="radio" asp-for="@Model.HoursInterval" id="opgInterval30" value="30" />
                    <label for="opgInterval30">@_f.tra("Po 30ti minutách")</label>
                    <br />
                    <input type="radio" asp-for="@Model.HoursInterval" id="opgInterval60" value="60" />
                    <label for="opgInterval60">@_f.tra("Po 60ti minutách")</label>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="card" style="margin-top:6px;">
                <div class="card-header">
                    @_f.tra("Předvyplněné intervaly pro Čas od - Čas do")
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                @_f.tra("Začátek pro Čas od"):
                            </td>
                            <td>
                                <select asp-for="TimeInputFrom" class="form-select">
                                    @for (var i = 7; i <= 14; i++)
                                    {
                                        <option value="@i">@BO.Code.Time.ShowAsHHMM(i.ToString())</option>
                                    }
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @_f.tra("Konec pro Čas od"):
                            </td>
                            <td>
                                <select asp-for="TimeInputTo" class="form-select">
                                    @for (var i = 11; i <= 22; i++)
                                    {
                                        <option value="@i">@BO.Code.Time.ShowAsHHMM(i.ToString())</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @_f.tra("Interval"):
                            </td>
                            <td>
                                <select asp-for="TimeInputInterval" class="form-select">
                                    <option value="30">30 minut</option>
                                    <option value="60">60 minut</option>
                                </select>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="card my-2" id="divTimesheetRecordOnly">
            <div class="card-header">
                @_f.tra("Další nastavení")
            </div>
            <div class="card-body">
                <input type="checkbox" asp-for="@Model.TimesheetEntryByMinutes" id="chkTimesheetEntryByMinutes" />
                <label for="chkTimesheetEntryByMinutes">@_f.tra("Hodiny vykazovat pevně v minutách (např. 90)")</label>
                <hr />


                <strong>@_f.tra("Předvyplňovat sešit a aktivitu"):</strong>
                <div>
                    <input type="radio" id="chk99" value="99" asp-for="@Model.ActivityFlag" />
                    <label for="chk99">@_f.tra("Bez předvyplněného sešitu")</label>
                </div>
                <div>
                    <input type="radio" id="chk0" value="0" asp-for="@Model.ActivityFlag" />
                    <label for="chk0">@_f.tra("Předvyplnit první sešit v nabídce sešitů")</label>
                </div>
                <div>
                    <input type="radio" id="chk1" value="1" asp-for="@Model.ActivityFlag" />
                    <label for="chk1">@_f.tra("Předvyplnit sešit z naposledy vykazovaného úkonu")</label>
                </div>
                <div>
                    <input type="radio" id="chk2" value="2" asp-for="@Model.ActivityFlag" />
                    <label for="chk2">@_f.tra("Předvyplnit aktivitu+sešit z naposledy vykazovaného úkonu")</label>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane tab-pane-fixed" id="tab2" role="tabpanel">
        <p></p>
        <div class="card-body">
            <input type="checkbox" asp-for="Approve_IsSkipGateway" />
            <label for="Approve_IsSkipGateway">@_f.tra("Přeskočit úvodní stránku před schvalovacím rozhraním")</label>
        </div>
        <div class="card-body">
            <input type="radio" asp-for="Approve_Default_UI" id="opgUI0" value="Inline" />
            <label for="opgUI0">@_f.tra("Výchozí schvalovací rozhraní je [INLINE]")</label>
            <br />
            <input type="radio" asp-for="Approve_Default_UI" id="opgUI1" value="Grid" />
            <label for="opgUI1">@_f.tra("Výchozí schvalovací rozhraní je [GRID]")</label>
            <hr />
        </div>
        <div class="card-body">

            <input type="checkbox" asp-for="@Model.Approve_InterniHodiny" id="chkApprove_InterniHodiny" />
            <label for="chkApprove_InterniHodiny">@_f.tra("Využívat funkci [Interní schvalování hodin]")</label>
            <p></p>
            <input type="checkbox" asp-for="@Model.Approve_HodinyVPausalu" id="chkApprove_HodinyVPausalu" />
            <label for="chkApprove_HodinyVPausalu">@_f.tra("Využívat funkci [Hodiny v paušálu]")</label>
            <p></p>
            <input type="checkbox" asp-for="@Model.Approve_UrovenSchvalovani" id="chkApprove_UrovenSchvalovani" />
            <label for="chkApprove_UrovenSchvalovani">@_f.tra("Využívat funkci [Úroveň schvalování]")</label>
            <p></p>
            <input type="checkbox" asp-for="@Model.Approve_DoDefaultApproveState" id="chkApprove_DoDefaultApproveState" />
            <label for="chkApprove_DoDefaultApproveState">@_f.tra("Automaticky nahazovat výchozí fakturační status")</label>
            <p></p>
        </div>
        <hr />
        <div class="card-body">

            <input type="radio" asp-for="@Model.Approve_GridBox_Position" id="opgGridBoxNone" value="0" />
            <label for="opgGridBoxNone">@_f.tra("V GRID rozhraní nezobrazovat panel záznamu")</label>
            <br />
            <input type="radio" asp-for="@Model.Approve_GridBox_Position" id="opgGridBoxLeft" value="1" />
            <label for="opgGridBoxLeft">@_f.tra("V GRID rozhraní zobrazovat panel záznamu vlevo")</label>
            <br />
            <input type="radio" asp-for="@Model.Approve_GridBox_Position" id="opgGridBoxRight" value="2" />
            <label for="opgGridBoxRight">@_f.tra("V GRID rozhraní zobrazovat panel záznamu vpravo")</label>

            <p></p>
            <p></p>
            <input type="checkbox" asp-for="@Model.Approve_ShowRecZoom" id="chkApprove_ShowRecZoom" />
            <label for="chkApprove_ShowRecZoom">@_f.tra("V GRID rozhraní možnost schvalovat přes [Íčko]")</label>
            <p></p>

        </div>
    </div>


    


    

    @Html.Raw("</div>")
    @Html.Raw("</div>")


</form>



<script type="text/javascript">
    $(document).ready(function () {

        
        $(".tab-pane").removeClass("active");

        $("#tab@(Model.ActiveTabIndex)").addClass("active");
        $("#link_tab@(Model.ActiveTabIndex)").attr("class", "nav-link active");

        $('a[data-bs-toggle="tab"]').on("shown.bs.tab", function (e) {
            // v e.target.id je id kliknutá záložka

            var tabindex = e.target.id.substring(e.target.id.length - 1, e.target.id.length);
            $("#ActiveTabIndex").val(tabindex);
            _resize_textareas();
        })


       

       

        $("#cmdOK").click(function () {

            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.submit();


        });



    })







</script>

