@model UI.Models.Record.j18Record
@inject BL.Factory _f

@{
    Model.PageTitle = _f.tra("Středisko");
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    Model.PageSymbol = "settings";
}

@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control record_name" asp-for="Rec.j18Name" />
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">@_f.tra("Index pořadí"):</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.j18Ordinary" decimal-digits="0"></mynumber>
        </div>
    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kód střediska"):</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control record_code" asp-for="Rec.j18Code" />

        </div>

    </div>
  
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">
            @_f.tra("ISO kód státu"):

        </label>
        <div class="col-sm-2 col-md-3">
            <input type="text" class="form-control" asp-for="Rec.j18CountryCode" style="width:60px;" />
        </div>
        <div class="col-auto">
            <i>Slouží pro případné rozlišení DPH sazby úkonů v projektu, pokud má středisko jiný DPH režim než výchozí nastavení databáze.</i>
        </div>
    </div>

    @Html.EditorFor(m => m.roles, "~/Views/Shared/_RoleAssign.cshtml")
  
</div>
