@model UI.Models.p31oper.p31RecalcViewModel
@inject BL.Factory _f

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    Model.PageTitle = _f.tra("Přepočítat sazby u vybraných úkonů");
    Model.PageSymbol = "price_check";

}

@addTagHelper *, UI

<form id="form1" asp-controller="p31recalc" asp-action="Index" method="POST">
    <div class="bg-light row my-2" style="width:99%;">

        <div class="col-auto">
            <button id="cmdSave" class="btn btn-success" onclick="_submit()">@_f.tra("Spustit přepočet")</button>
            <button id="cmdClose" onclick="_window_close()" class="btn btn-light">@_f.tra("Zavřít")</button>
        </div>

        <div class="col-auto">
            <label for="WhatRates">@_f.tra("Jakou sazbu přepočítat"):</label>
        </div>
        <div class="col-auto">
            
            <select asp-for="WhatRates" class="form-select" onchange="_postback('refresh')">
                <option value="fakturacni">@_f.tra("Fakturační sazba")</option>
                <option value="nakladove">@_f.tra("Nákladová sazba")</option>
                <option value="rezijni">@_f.tra("Nákladová režijní sazba")</option>
                <option value="efektivni">@_f.tra("Efektivní sazba")</option>
            </select>
        </div>

        
    </div>



    <input type="hidden" asp-for="@Model.pids" />
    <input type="hidden" asp-for="@Model.pids_valid" value="@Model.pids_valid" />




</form>


@await Component.InvokeAsync("myGrid", Model.gridinput)



<script type="text/javascript">
    $(document).ready(function () {






    })



</script>

